.input-field {
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid rgba(4, 3, 8, 0.60);
}
.input-field input{
    background: transparent;
}

.input-field:focus {
    border-color: var(--primary-color); 
}
.restPassword{
    display: flex;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #FFF;
    font-family: "Josefin Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    width: -webkit-fill-available;
}
.backToLogin{
    display: flex;
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    border: 1px solid #040308;
    background-color: transparent;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: black;
    width: -webkit-fill-available;
}
.password-input-field{
    display: grid;
    gap: 30px;
    padding: 50px 0px;
}
.input-rest-p{
    color: var(--Text-Black, #141522);
    font-family: Satoshi;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
}
.input-rest-new-p{
    color: var(--Text-Black, #141522);
    /* Light 20 */
    font-family: "Josefin Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}
.inputRest-container{
    display: grid;
    gap: 20px;
    width: 50%;
}
.rest-password{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: #EDEDED;
    box-shadow: 15px 23px 64px 0px rgba(0, 0, 0, 0.25);
    padding: 50px 100px;
}
.rest-password img{
    width:  -webkit-fill-available;
    height: 418px;
}
.rest-logo{
    width: 27%;
    border-radius: 50%;
}
@media (min-width:280px) and (max-width:440px) {
    .rest-password{
        flex-direction: column-reverse;
        padding: 20px 20px;
    }
    .inputRest-container {
        width: -webkit-fill-available;
    }
    .rest-password img {
        height: -webkit-fill-available;
    }
    .password-input-field {
        display: grid;
        gap: 30px;
        padding: 15px 0px;
    }
}