:root {
  --primary-color: #7E7CC9;
  --secondary-color:#F7F7F7;
  --blue-color:#3D48A6;
  --dark-gray:#929292;
  --error-color:#DC3545;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family: 'Josefin Sans', sans-serif ;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: white;
}

ul{
  list-style-type: none;
}